<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IFE JavaScript Task 01</title>
  </head>
  <style>
    #aqi-list{
      counter-reset:ranking;
    }
    #aqi-list li{
      counter-increment:ranking;
    }
    #aqi-list .num::before{
      content:counter(ranking,cjk-ideographic);
    }
  </style>
<body>

  <h3>污染城市列表</h3>
  <ul id="aqi-list">
  </ul>

<script type="text/javascript">

var aqiData = [
  ["北京", 90],
  ["上海", 50],
  ["福州", 10],
  ["广州", 50],
  ["成都", 90],
  ["西安", 100]
];

(function () {
  var aqiList = document.getElementById("aqi-list");
  // 思路：遍历aqiData所有数组项，挨个判断是否大于60，接着再将过滤后的数据进行排序。
  // 最好分两步走，一步只做判断是否大于60，一步排序，分两步走的好处就是，如果不需要排序的话，直接删除某个方法就行了。
  
  // 过滤
  function filter(filterNum){
    var resultArray = [];
    // 这里也可以直接使用数组的filter或map方法实现
    aqiData.forEach(item=>{
      // 挨个判断当前数据是否大于过滤项
      if(item[1] > filterNum){
        resultArray.push(item);
      }
    });
    // 返回过滤后的数组
    return resultArray;
  }

  // 排序
  function sort(arr,rule){
    // 如果等于0，从小到大排序
    if(rule === 0){
      return arr.sort(($1,$2)=>{
        return $1 > $2;
      });
      // 如果等于1，从大到小排序
    }else if(rule === 1){
      return arr.sort(($1,$2)=>{
        return $1 < $2;
      });
    }
    return arr;
  }

  // 遍历数据，将数据添加到aqiList元素中
  sort(filter(60),1).forEach(item=>{
    // 自己写大写数字不灵活，这里使用CSS的计数器实现
    aqiList.innerHTML += `<li>第<span class="num"></span>名：${item[0]}，${item[1]}</li>`;
  })

})();

</script>
</body>
</html>